body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/logo3.png');
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
}

header {
    background: linear-gradient(to bottom, #000000 0%, #191919 100%);
    text-align: center;
    color: #D6DBDF;
    width: 100%;
    height: 100%;
    text-shadow: 10px 5px 2px #000000;
    box-shadow: 5px 0px 20px black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.index {
    position: relative;
    display: inline-block;
    background-color: darkred;
    padding: 8px;
    border-color: darkred;
    border-radius: 10px;
    cursor: pointer;
}

    .index a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

.corelB {
    background-color: darkred;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-color: darkred;
    border-radius: 10px;
    cursor: pointer;
}

.corel {
    position: relative;
    display: inline-block;
}

.corelIn {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 20px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .corelIn a {
        color: darkred;
        font-weight: bold;
        padding: 12px 12px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
    }

        .corelIn a:hover {
            background: linear-gradient(to bottom, #000000 0%, blue 100%);
        }

.corel:hover .corelIn {
    display: block;
}

.corel:hover .corelB {
    background: linear-gradient(to bottom, #000000 0%, blue 100%);
}

.polB {
    background-color: darkred;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-color: darkred;
    border-radius: 10px;
    cursor: pointer;
}

.pol {
    position: relative;
    display: inline-block;
}

.polIn {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 20px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .polIn a {
        color: darkred;
        font-weight: bold;
        padding: 12px 12px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
    }

        .polIn a:hover {
            background: linear-gradient(to bottom, #000000 0%, blue 100%);
        }

.pol:hover .polIn {
    display: block;
}

.pol:hover .polB {
    background: linear-gradient(to bottom, #000000 0%, blue 100%);
}
li{
    margin:10px;
    font-size: 50px;
    color:green;
}
li a{
    color:white;
    font-size:30px;
    text-decoration:none;
}

footer {
    background: linear-gradient(to bottom, #191919 0%, #000000 100%);
    color: #D6DBDF;
    width: 100%;
    height: 150px;
    text-shadow: 10px 5px 2px #000000;
    padding-bottom: 0px;
    position: relative;
    top: 250px;
}



    footer img {
        box-shadow: -5px 0px 20px black;
        position: relative;
        left: 10px;
        top: 10px;
        width: 7%;
        height: auto;
    }

    footer a {
        position: absolute;
        left: 200px;
        top: 50px;
        text-decoration: none;
        color: darkred;
    }

    footer h3 {
        position: absolute;
        left: 50%;
        top: 35px;
    }
.highl1 {
    color: darkred;
}

.highl2 {
    color: darkgreen;
}

.highl3  {
    font-weight:bold;
    color: darkgreen;
    font-size:35px;
    
}

.highl4 {
    font-weight: bold;
    color: darkgreen;
    font-size: 35px;
}

@media only screen and (max-device-width: 1200px) and (min-device-width: 661px) {
    
}
@media only screen and (max-device-width: 660px) and (min-device-width: 570px){
    body {
        width: 100%;
    }

    header, footer {
        width: 650px;
    }

    .link_list {
        width: 660px;
    }
    footer {
        height: 75px;  
    }
        footer a {
            left: 75px;
        }

        .hide{
            display:none;
        }
}
@media only screen and (max-device-width: 569px) {

    .logoCorel img {
        position: relative;
        top:100px;
        left:50%;
        width:300px;
        height:auto;
    }

     body {
        width: 100%;
    }

    header, footer {
        width: 650px;
    }

    .link_list {
        width: 660px;
    }

    footer {
        height: 100px;
    }

        footer a {
            left: 75px;
        }

    .hide {
        display: none;
    }
}